.pickyadventurer .document-type-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.pickyadventurer .document-type-controls button.icon {
  flex: 0 0 24px;
  height: 24px;
  padding: 0;
  font-size: var(--font-size-12);
  line-height: 24px;
}
